/* Login.css */

/* Kontainer login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Memastikan konten dimulai dari atas */
    height: 100vh;
    background:  #81c784;
    padding-top: 60px; /* Memberikan ruang untuk navbar */
}

/* Styling untuk form login */
.login-form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #A8D5BA; /* Warna hijau soft */
    color: white;
    top: 50px;
    margin-top: 30px;
}

/* Judul form */
.login-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Grup input */
.input-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #f3f3f3; /* Warna latar input */
    color: #333;
}

/* Tombol login */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #81c784;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #81c784;
}

/* Styling Navbar */
